<p>name:<%=@reg.name%></p>
<p>phone:<%=@reg.phone%></p>
<p>email:<%=@reg.email%></p>
<p>city:<%=@reg.city%></p>
<p>area:<%=@reg.area%></p>
<p>typeofroom:<%=@reg.typeofroom%></p>
<p>noofroom:<%=@reg.onebhk%></p>
<p>noofroom:<%=@reg.twobhk%></p>
<p>noofroom:<%=@reg.threebhk%></p>
